
.clearfix {
/*    border: 2px solid black;*/
}
.clearfix::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

body, html {
    margin: 0;
/*    height: 100vh;*/
}


.links {
    border: 2px solid black;
    width: 50%;
    margin: 0 auto;
}

h2 {
    width: 50%;
    text-align: center;
    float:left;
}

/* GRID OF IMAGES */

.grid {
/*    width: 100%;*/
    border: 1px solid black;
}

.grid-ul { /* Use this in media queries to make grid responsive yet keeping images square!*/
    width: 654px; /* Use this in media queries to make grid responsive yet keeping images square!*/
    margin: 0 auto;
    padding: 0;
    
}

.grid-ul li {
    float: left;
    list-style: none;
    width: 150px; /* Use this in media queries to make grid responsive yet keeping images square!  adjusting thing in conjunction with .grid-ul width is key! the ul must be snug with this li in order for it to properly center*/
    height: 150px;
    overflow: hidden;
    margin: 1%;
    border-radius: 10%;
}


.illustrations-ul img {
    width: 150%;
    margin-left: -20%;
    margin-top: -10%;
}

.photos-ul img {
    width: 190%;
    margin-left: -30px;
    margin-top: -10px;
    
}


/* -------------*/
/* ------PHOTOGRAPH GALLERY -------*/
/* -------------*/

.bg-img {
    width: 100%;
    z-index: -1;
    height: 100vh;
       background-image: linear-gradient(rgba(36, 36, 31, 0.69), rgba(69, 54, 54, 0.17)),url("../lib/gallery/photos/photos-189.jpg");
/*    background-position:center;*/
    background-size:cover;
/*    overflow: hidden;*/
    position: fixed;
}

.bg-img-illustrations {
    
        width: 100%;
    z-index: -1;
    height: 100vh;
       background-image: linear-gradient(rgba(36, 36, 31, 0.69), rgba(69, 54, 54, 0.17)),url("../lib/gallery/photos/photos-189.jpg");
/*    background-position:center;*/
    background-size:cover;
/*    overflow: hidden;*/
    position: fixed;
    
}