

/* Big tablets to 1200px */
@media only screen and (max-width: 1200px) {
    
    
}



/* Small tablets to big tablets: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
   
    
}




/* Small phones to small tablets: from 591 - 767px */
@media only screen and (max-width: 767px) {
    
}




/* Small phones to small tablets : from 481 to 590px */
@media only screen and (max-width: 590px) {
    
    .nav-btns a{
        font-size: 1.07em;
        padding: 1px;
    }
    
    .name {
        margin-top: 30%;
        font-size: 0.80em;
    }
    
    .name h1 { line-height: .9; margin-top: -20px; }
    
    .name h2 { margin-top: 0; }
    
    .photo-box {
        width: 100%;
    }
    
    .photo-box img {
       width: 50%;
       margin-left: 25%;
    }
    
    .bio-box {
        clear: both;
        margin: 0 auto;
        width: 100%;
        padding: 0;
        font-size: .98em;
    }
    
    .section-tools {width: 100%;}
    
    .project-grid li {
    width: 90%;
/*    height: 328px;*/
/*    margin: 0;*/
        
    }
    
    .form { width: 94%;}
    

    .footer-section li {
        display: block;
        margin-bottom: 10px;

    }

    .social-links i {
        font-size: 1.4em;
        
}


/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    
}