/*colors */
/*gray-ish - #3b3834 */
/*orange color: #d98b20 */
/*projects background-color #f5f4f2*/
html, body {
    margin: 0;
    font-size: 15px;
    font-family: "Saira Semi Condensed", sans-serif;
    background-color: #f5f5ec;
}


/* -------------------------------------*/
/* ------- REUSABLE COMPONENTS ----------*/
/* -------------------------------------*/

.title { 
    margin: 0 auto 3% auto;
    padding-top: 1%;
    text-align: center;
    color: rgba(0, 0, 0, 0.59);
    font-size: 2em;
    border-bottom: 3px solid transparent;
    width: 170px;
    text-transform: uppercase;
}


.title:after {
  display:block;
  content: '';
  border-bottom: solid 3px #d98b20;  
  transform: scaleX(1);  
  transition: all 250ms ease-in;}


.title:hover:after { transform: scaleX(0); }



header {
    background-image: linear-gradient(rgba(36, 36, 31, 0.69), rgba(69, 54, 54, 0.17)),url("../lib/john-schnobrich-520019-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}



/* -------------------------------------*/
/* ----------- NAV BAR ---------------*/
/* -------------------------------------*/

.nav-btns li {
    display: inline-block;
    float: right;
    margin-right: 8px;
}

.nav-btns a {
    font-family: "Saira Semi Condensed", sans-serif;
    color: white;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 1.75em;
    padding: 7px 20px;
    border: 2px solid transparent;
    border-radius: 20px;
    transition: 0.5s;
}

.nav-btns a:hover {
    color: #d98b20;
    border: 2px solid orange;

}




/* -------------------------------------*/
/* --------- HERO SECTION -----------*/
/* -------------------------------------*/

.name {
    padding-top: 6%;
    padding-left: 4%;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 1.75em;
}





/* -------------------------------------*/
/* --------- ABOUT ME SECTION  -----------*/
/* -------------------------------------*/



.bio-box {
    margin: 4% 15% 9% 15%;
    width: 70%;
    background-color: #fff;
    border-radius: 20px;
    line-height: 1.44;
/*    border: 2px dashed #d9a053 ;*/
}

.bio-box p {
    padding: 4%;
    text-align: center;
    font-size: 1.5em;
}

/*----------------------------
/*---- Tools I Use ----- */
/*----------------------------*/

.section-tools {
    background-color: white;
}

.tools-list {
    width: 90%;
    margin: 0 auto;
    list-style: none; 
    
}



 .tools-list li {
     margin: 2% 4% 2% 4%;
     width: 120px;
     height: 120px;
/*   float: left;*/
     display: inline-block;
     text-align: center;
     overflow: hidden;
}

.tools-list img {
    max-height: 100%;
    max-width: 100%;
}



/*----------------------------
/*---- Projects Section ----- */
/*----------------------------*/
/*  <div class="project-section">
        <ul class="project-grid">
            <li>
                <div class="project-box project-img-1">
                    <p>img 1 goes here</p>
                </div>
            </li>
            <li>*/

.project-section {
    max-width: 100%;
    margin: 0 auto;
/*    padding: 0 2% 5% 2%; */
}

.project-grid {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    max-width: 950px;
    width: 100%;
    
}

.project-grid:after {
    clear: both;
}

.project-grid:after, 
.project-grid:before {
    content: '';
    display: table;
}

.project-grid li {
    width: 420px;
    height: 328px;
    display: inline-block;
    margin: 5px ;
}

.project-box  {
    
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out, 
    -webkit-transform 0.3s ease-in-out;
	-moz-transition:  0.3s ease-in-out, 
    -moz-transform 0.3s ease-in-out;
    transition: all 0.3s ease-in-out, 
    transform 0.3s ease-in-out, ;
}

.project-box:hover {
    transform: scale(1.05);
    
}

.project-img-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), url(../lib/yelpCamp.jpg);
background-size: auto 460px;
}

.project-img-2 {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), url(../lib/omniFood.jpg);
background-size: auto 460px;
    background-position:
}

.project-img-3 {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), url(../lib/colorgame.jpg);
background-size: auto 460px;
    background-position: bottom;
}

.project-img-4 {
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.10)), url(../lib/musicgame.jpg);
background-size: auto 460px;
    background-position: bottom;
}

.project-info {
    position: absolute;
    width: inherit;
    height: inherit;
}

.project-info h3 {
    color: #fff;
    font-size: 42px;
    margin: 0 30px;
    padding: 100px 0 0 0;
    line-height: 1.5;
}

.project-info p {
    color: #fff;
    padding: 4px 5px;
    margin: 0 30px;
    font-size: 14px;
    line-height: 2;
}


/*--------------------------*/
/*-----CONTACT FORM----- */
/*----------------------------*/

.contact-section {
    height: 75vh;
    background-color: #2a2924;
}

.contact-section .title {
    color: #f5f5ec;      
}

.form {
    width: 75%;
    max-width: 500px;
    margin: 20px auto;
    text-align: center;
}

/*This resets all default submit input styling so button can be styled*/
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}



.input-form {
    padding: 3px 10px;
    color: #000;
    font-family:inherit;
    font-size: 1.3em;
    text-transform: uppercase;
    display: block;
    margin: 2% auto;
    width: 100%;
    height: 25px;
    border-radius: 5px;
    background-color: rgb(216, 212, 190);
    border: none;
}

.textarea-form {
    padding: 3px 10px;
    color: #000;
    font-family:inherit;
    font-size: 1.3em;
    text-transform: uppercase;
    height: 150px;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(216, 212, 190);
}

textarea:focus, input:focus{
    outline: none;
}


.btn-form {
    background-color: #000;
    border: none;
    border: 2px solid rgb(216, 212, 190);
    font-family: inherit;
    text-transform: uppercase;
    width: 25%;
    padding: 6px;
    margin-top: 10px;
    font-size: 20px;
    border-radius: 5px;
    color: #d98b20;
}

.btn-form:hover {
    border: 2px solid #d98b20;
}
/*----------------------------*/
/*--------- FOOTER ---------- */
/*----------------------------*/


.footer-section {
/*    width: 100%;*/
    text-align: center;
    background-color: rgb(34, 33, 28);
    height: 100px;
    margin-top: 0;
}

.footer-section h4 {
    color: #f5f5ec;
    padding: 3%;
    margin: 0;
}
