/*colors */
/*grayish - #3b3834 */
html, body {
    margin: 0;
    font-size: 20px;
    font-family: "Saira Semi Condensed", sans-serif;
    

}

/* ------- REUSABLE COMPONENTS ----------*/

.title { 
    margin: 0 auto 10px auto;
    padding: 15px 0 4px 0;
    text-align: center;
    color: rgba(0, 0, 0, 0.59);
    font-size: 150%;
    border-bottom: 1px solid orange;
    width: 150px;
    
}

header {
    background-image: linear-gradient(rgba(163, 152, 143, 0.69), rgba(85, 80, 75, 0.49)),url(lib/luke-chesser-49-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

/* ----------- NAV BAR ---------------*/

.nav-btns li {
    display: inline-block;
    float: right;
    margin-right: 40px;

}

.nav-btns li a {
    font-family: "Saira Semi Condensed", sans-serif;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    
}

/* -------------------------------------*/
/* --------- HERO -----------*/
/* -------------------------------------*/

.name {
    padding-top: 10%;
    padding-left: 4%;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Saira Semi Condensed', sans-serif;
}


/* -------------------------------------*/
/* --------- About Me -----------*/
/* -------------------------------------*/


.section.section-1 {
    height: 80vh;
    background-color: #fff;
    margin: 0;
}

div.bio {
    margin: 10px auto 0 25%;
    border-bottom: 3px solid rgba(29, 28, 27, 0.4);
    background-color: #faf6f0;
    padding: 20px;
    border-radius: 5px;
    line-height: 160%;
   text-align: justify;
}




/* -------------------------------------*/
/* --------- PROJECTS -----------*/
/* -------------------------------------*/

/*
.projects div {
    background-color: antiquewhite;  
}
*/

.section.section-2 {
    height: 100vh;
    background-color: #f5f4f2;
}

.projects img {
    width: 70%;
    display: block;
    margin: auto;
    

}

/* CONTACT FORM */

.section-4 {
    height: 75vh;
    background-color: #3e3e3e
}


/* FORM */

.form {
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

form {
    text-decoration: none;
}

.input-form {
    display: inline-block;
    width: 100%;
    height: 25px
}

.textarea-form {
    height: 100px;
    width: 100%;
    margin-top: 2px
}

